<% form_form([:admin, @category, @topic]) do |f| %>
	<div class="form-group">
		<%= f.label :subject %>
		<%= f.text_field :subject, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :body %>
		<%= f.text_area :body, class: 'form-control' %>
	</div>
<% end %>