<%= link_to('New Category', new_category_path, class: 'btn btn-success') %>

<table class="table">
	<thead>
		<tr>
			<th>Category</th>
			<th>Latest</th>
			<th>Topics</th>
		</tr>
	</thead>
	<tbody>
		<% @categories.each do |cat| %>
		<tr>
			<td><%= link_to cat.name, category_path(cat) %></td>
			<td><%= cat.topics.empty? ? 'No topic yet!' : cat.topics.last.body %></td>
			<td><%= cat.topics.count %></td>
		</tr>
		<% end %>
	</tbody>
</table>